  /* Remove the navbar's default margin-bottom and rounded borders */ 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-family: 'Patrick Hand SC', cursive;
  }
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;    
    font-family: 'Patrick Hand SC', cursive;
  }
  #happy20 {
    font-family: 'Patrick Hand SC', cursive;
    background-image: url("header/pink.jpg");

  }
 /* Click me page */ 
  #linkheader {
    font-family: 'Courier New', bold;
	color: #990000;
    background-image: url("header/abstractgray.jpg");

  }
 h3 { 
  font-family: 'Lucida Sans Unicode', cursive, Verdana; 
  color: #990000;  
  
  }
 ul  { 
  font-family: 'Lucida Sans Unicode', cursive, Verdana; 
  color: #4d4d4d;  
  
  }
  
  
  * {box-sizing:border-box}

/* Sana */
#person1header {
  font-family: 'Patrick Hand SC', serif;
  background-image: url("header/abstractpinkgold.jpg");

}

#malikahheader {
  font-family: 'Patrick Hand SC', serif;
  background-image: url("header/pinkwatercolor.jpg");

}

#fambamheader {
  font-family: 'Patrick Hand SC', serif;
  background-image: url("header/triangles.jpg");

}
#noohaheader {
  font-family: 'Patrick Hand SC', serif;
  background-image: url(header/arrows.jpg)
}

#freshheader {
  font-family: 'Patrick Hand SC', serif;
  background-image: url("header/scallop.jpg");
}
#sobiaheader {
  font-family: 'Patrick Hand SC', serif;
  background-image: url("header/abstractgray.jpg");
}
#asnaheader {
  font-family: 'Patrick Hand SC', serif;
  background-image: url("header/dotted.jpg");
}
#ourpageheader {
  font-family: 'Patrick Hand SC', serif;
  color: white;
  background-image: url("header/clouds.jpg");
}
#tiktokheader {
  font-family: 'Patrick Hand SC', serif;
  color: white;
  background-image: url("header/tiktok.jpg");
}

#freshname {
  font-family: 'Sofia', cursive;
  background-image: url("header/bluewater.jpg");
  font-weight: bold;
  font-size: 32px;
  align-self: center;
  padding: 15px;
}

/*Our page two tiktoks */
#wrapper { 
  width: 920px; 
  height: auto; 
  margin: 0 auto;
}
#wrapper video {
  display:block;
  
  padding: 20px;;
}
#tiktok1 { 
  width: 47.5%; 
  height: 300px; 
  float: left; 
  margin-right: 5%;
} 

#tiktok2 { 
  width: 47.5%; 
  height: 300px; 
  float: left; 
}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 9px;
  width: 100%;
  text-align: center;
}

/* Number text (1/15 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4.0s;
  animation-name: fade;
  animation-duration: 4.0s;
}

@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Malikah Photo Gallery */
#malikah {
  font-family: 'Vollkorn', serif;
  line-height: 1.5;
}
#ramisha {
  text-align: center;
  font-family: 'Vollkorn', serif;
  line-height: 1.5;
}
#malikahright {
  font-family: 'Vollkorn', serif;
  text-align: right;
  line-height: 1.5;
}
#photos {
  opacity: .88;
}

#photos img {
  width: 30%;
  float: left;
  display: block;
  margin: 2px;
}

#photos ul {
  list-style: none;
  margin: 0px auto;
  display: block;
  max-width: 1000px;
  margin-right: 100px;
  
}

#bigphoto {
  width:70%;
  margin: 0px auto;
  padding: 10px;
  display: block;
  text-align: center;
}
#smallphoto {
  width:40%;
  margin: 0px auto;
  padding: 10px;
  display: block;
  text-align: center;
}
#photos {
  width: 100%;
  opacity: .88;
}

#photo-gallery {
  width: 100%;
}

img.logo {
display:inline-block;
margin-left:auto;
margin-right:auto;
width:30%;
max-width: 1000px;
}

#twoimages{text-align:center;}